<%= form_for([@reserf, @equipament]) do |f| %>
  <% if @reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserf.errors.count, "error") %> prohibited this reserf from being saved:</h2>

      <ul>
      <% @reserf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :Usuario %>
    <%= f.select :user_id, [[current_user.name ,current_user.id]] %>
  <div>

  <div class="field">
    <%= f.label :equipamento %><br />
    <% equipamentos = [] %>
    <% Equipament.all.each{|equipament| equipamentos << [equipament.nome, equipament.id]}%>
    <%= f.select :equipament, equipamentos %>
  </div>

  <div class="field ">
    <%= f.label :inicio %><br />
    <%= f.datetime_select :inicio, :default => DateTime.now, :order => [:day, :month,:year] %>
  </div>
  <div class="field">
    <%= f.label :termino %><br />
    <%= f.datetime_select :termino, :default => 1.hours.from_now, :order => [:day, :month,:year] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

