<%= form_for(@reserf) do |f| %>
  <% if @reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserf.errors.count, "error") %> prohibited this reserf from being saved:</h2>

      <ul>
      <% @reserf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inicio %><br />
    <%= f.datetime_select :inicio %>
  </div>
  <div class="field">
    <%= f.label :termino %><br />
    <%= f.datetime_select :termino %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
