<%= form_for(@publication) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <%= f.label :titulo %><br />
    <%= f.text_area :titulo, :rows=>1 %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br />
    <%= f.text_area :abstract, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.url_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

