<p id="notice"><%= notice %></p>

<h2>
  <%= @publication.titulo %>
</h2>

<p>
  <%= @publication.abstract %>
</p>

<p>
  <b>Link:</b>
  <a href="<%=@publication.link %>"> <%=@publication.link%></a>
</p>

<div class="btn">
  <%= link_to 'Editar', edit_publication_path(@publication) if user_signed_in? %>
</div>

<div class="btn">
  <%= link_to 'Voltar', publications_path %>
</div>

